{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-trailing-commas",
    "standard-react",
    "prettier"
  ],
  "plugins": ["prettier"],
  "globals": {
    "graphql": true,
    "__PATH_PREFIX__": true
  },
  "rules": {
    "react/prop-types": "off",
    "camelcase": "off",
    "prettier/prettier": "error"
  }
}
